<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Admin</title>
</head>
<body>
    <div class="form" id="adminSection">
        <h2>Form Pendaftaran Admin</h2>
        <form method="POST">
            <label for="adminUsernameInput">Username</label>
            <input id="adminUsernameInput" name="adminUsernameInput" type="text" placeholder="Username" />
        
            <br />
            <label for="adminPasswordInput">Password</label>
            <input id="adminPasswordInput" name="adminPasswordInput" type="password" placeholder="Password" />
        
            <br />
            <input id="adminButton" type="submit" value="Register" />
        </form>
    </div>
    
</body>
</html>
