<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Pemain</title>
</head>
<body>
    <div class="form" id="pemainSection">
        <h2>Form Pendaftaran Pemain</h2>
    
        <form action="" method="post">
            <label for="pemainUsernameInput">Username</label>
            <input id="pemainUsernameInput" name="pemainUsernameInput" type="text" placeholder="Username" />
        
            <br />
            <label for="pemainEmailInput">Email</label>
            <input id="pemainEmailInput" name="pemainEmailInput" type="email" placeholder="Email" />

            <br />
            <label for="pemainPasswordInput">Password</label>
            <input id="pemainPasswordInput" name="pemainPasswordInput" type="password" placeholder="Password" />

            <br />
            <label for="pemainNoHpInput">Nomor HP</label>
            <input id="pemainNoHpInput" name="pemainNoHpInput" type="tel" placeholder="Nomor HP" />
        
            <br />
            <input type="submit" value="Register" />
        </form>
    
    </div>
</body>
</html>
