{% extends 'admin_navbar.html' %} {% load static %} {% block meta %}  
<title>Detail tokoh</title>
{% endblock meta %} {% block content %}
<body>
    <h1>Detail tokoh</h1>
    {% for data_query in list %}
    <tr>
        <td>Nama</td>

        <td>{{data_query.nama}}</td>
        <br/>
    </tr>
    <tr>
        <td>ID Rambut</td>
        <td>{{data_query.id_rambut}}</td>
        <br/>
    </tr>
    <tr>
        <td>ID Mata</td>
        <td>{{data_query.id_mata}}</td>
        <br/>
    </tr>
    <tr>
        <td>ID Rumah</td>
        <td>{{data_query.id_rumah}}</td>
        <br/>
    </tr>
    <tr>
        <td>Warna kulit</td>
        <td>{{data_query.warna_kulit}}</td>
        <br/>
    </tr>
    <tr>
        <td>Pekerjaan</td>
        <td>{{data_query.pekerjaan}}</td>
        <br/>
    </tr>
    {% endfor %}
</body>
{% endblock content %}



