<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> List Warna Kulit </title>
</head>
<body>a
    <h1> Hello {{username}} </h1>

    {% if list_warna_kulit %}
        <table>
            <tr>
                <th scope="col">Kode</th>
                <th scope="col">Action</th>
            </tr>

            {% for warna_kulit in list_warna_kulit %}
                <tr>
                    <td>{{ pemain.kode }}</td>
                    <td>
                        <ul>
                            <li><a href="#">Detail</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        <table>
            {% else %}
                <p>Belum ada warna kulit yang dibuat</p>
            {% endif %}
</body>
</html>

