<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> List Misi Utama </title>
</head>

<body>
    <h1> Hello {{username}} </h1>

    {% if list_misiutama %}
    <table>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Misi</th>
            <th scope="col">Action</th>
        </tr>

        {% for i in list_misiutama %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.nama_misi}}</td>
            <td>detail</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>