<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title> Detail Misi Utama </title>

    <body>
        <h1> Hello {{username}} </h1>
        <p style="text-align:center;"> <b>Detail Misi Utama</b></p>
        <br />
        <p><b>Nama: </b> {{list_detailmisi.nama}}</p>
        <br />
        <p><b>Efek Energi: </b> {{list_detailmisi.efek_energi}}</p>
        <br />
        <p><b>Efek Hubungan Sosial: </b> {{list_detailmisi.efek_hubungan_sosial}}</p>
        <br />
        <p><b>Efek Kelaparan: </b>{{list_detailmisi.efek_kelaparan}}</p>
        <br />
        <p><b>Syarat Energi: </b>{{list_detailmisi.syarat_energi}}</p>
        <br />
        <p><b>Syarat Hubungan Sosial: </b>{{list_detailmisi.syarat_hubungan_sosial}}</p>
        <br />
        <p><b>Syarat Kelaparan: </b>{{list_detailmisi.syarat_kelaparan}}</p>
        <br />
        <p><b>Completion Time: </b>{{list_detailmisi.completion_time}}</p>
        <br />
        <p><b>Reward Koin: </b>{{list_detailmisi.reward_koin}}</p>
        <br />
        <p><b>Reward XP: </b>{{list_detailmisi.reward_xp}}</p>
    </body>

</html>